body {
    background-color: #f3f5f8;    
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #9c9c9c;
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
}
